.card {
    border-radius: 8px;
    padding: 20px 15px;
    background-color: rgba(26, 28, 34, 1);
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.label {
    color: rgba(158, 158, 158, 1);
    font-size: 12px;
    margin-bottom: 15px;
}

.value {
    color: white;
    font-weight: 500;
    font-size: 26px;
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: rgba(40, 44, 53, 1);
    border-radius: 8px;
    color: rgba(31, 203, 79, 1);
}