.container {
    padding: 20px 0px;
}

.img {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.nav-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.remove-margin {
    margin-top: 0px;
    padding-top: 0px;
}